@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }

  body input:enabled:focus {
    box-shadow: unset !important;
    border-color: unset !important;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
  }

  .dark {}
}

@layer components {}